<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                お問い合わせ
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container contact border" style="background-color: lightyellow;">
        <div class="terms has-text-centered">
            <span>
                <a>お問い合わせは</a><br>
                <a href="mailto:iesok.952.business@gmail.com">こちらへ</a>
            </span>
        </div>
    </div>
</section>

<%= render "devise/shared/footer" %>

<!--  -->